body {
  background-color: #7f0000;
}

h1 {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

h2 {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

strong {

}

em {

}

p {
  color: white;
  text-align: center;
  font-kerning: none;
  font-size: 30px;
}

ul {

}

a {
  text-align: center;
  font-kerning: none;
  font-size: 30px;
  color: white;
}

img {
  width: 500px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
